
# Packer cache objects
packer_cache/

# For built Vagrant boxes
*.box

# MacOS specific
.DS_Store

# Vagrant working dir
.vagrant

# Various dev notes and artefacts
Vagrantfile_adfs
Vagrantfile_dc
Vagrantfile_windows_lab
notes.txt
